<div>
  <link href="./navigation.css" rel="stylesheet" />
  <header data-role="Header" class="navigation-header">
    <header data-role="Accordion" class="navigation-header1">
      <img
        src="/playground_assets/tilbud.svg"
        alt="image"
        class="navigation-image"
      />
      <div class="navigation-separator"></div>
      <nav class="navigation-nav">
        <nav class="navigation-links1-nav navigation-links1-root-class-name19">
          <span class="navigation-links1-text"><span>Home</span></span>
          <span class="navigation-links1-text1"><span>Blog</span></span>
        </nav>
      </nav>
      <div data-role="AccordionHeader" class="navigation-accordion-header">
        <svg viewBox="0 0 1024 1024" class="navigation-icon">
          <path
            d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
          ></path>
        </svg>
      </div>
      <div data-role="AccordionContent" class="navigation-accordion-content">
        <div class="navigation-nav1">
          <nav
            class="navigation-links1-nav navigation-links1-root-class-name20"
          >
            <span class="navigation-links1-text"><span>Home</span></span>
            <span class="navigation-links1-text1"><span>Blog</span></span>
          </nav>
        </div>
      </div>
    </header>
  </header>
</div>
